<div class="container">
    <app-autocomplete
        placeholder="Enter city name"
        (onInputChange)="getPossibleCitiesFromService($event)"
        (onSelectChange)="getForecastFromService($event)"
        [options]="possibleCities">
    </app-autocomplete>

    <div *ngIf="currentCityForecastToday && currentCityForecast">
        <div class="card-current-weather">
            <mat-card>
                <mat-card-content>
                    <h2>Current weather:</h2>
                    <current-weather-component [data]="currentCityForecastToday.main">
                    </current-weather-component>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="card-forecast">
            <mat-card>
                <mat-card-content>
                    <h2>Forecast next 5 days:</h2>
                    <table-component
                        [columns]="columns"
                        [data]="currentCityForecast"
                        [displayedColumns]="displayedColumns">
                    </table-component>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>