<div class="container">
    <h3 *ngIf="!currentCityForecastToday">Select the place you want to see the current weather and forecast:</h3>
    <app-autocomplete
        placeholder="Enter city name"
        (inputChange)="getPossibleCitiesFromService($event)"
        (selectChange)="getForecastFromService($event)"
        [options]="possibleCities">
    </app-autocomplete>

    <div *ngIf="currentCityForecastToday && currentCityForecast">
        <div class="card-current-weather">
            <div>
                <h2>Current weather:</h2>
                <app-current-weather-component [data]="currentCityForecastToday.main">
                </app-current-weather-component>
            </div>
        </div>
        <div class="card-forecast">
            <div>
                <h2>Forecast next 5 days:</h2>
                <app-table-component
                    [columns]="columns"
                    [data]="currentCityForecast"
                    [displayedColumns]="displayedColumns">
                </app-table-component>
            </div>
        </div>
    </div>
</div>